node_modules
*.md
.DS_Store
.git
.bin/
.circleci/

# VSCode settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# local env variables
.env

# safeguard against keys ever being built into the image
*.p8
*.pem